.eureka2020{
    background-color: #DCDCDC;
    padding: 50px 50px 50px 50px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.eureka2019{
    background-color: #DCDCDC;
    padding: 50px 50px 50px 50px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.creativeinquiry{
    background-color: #DCDCDC;
    padding: 50px 50px 50px 50px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.title{
    text-align: center;
    text-decoration: underline;
}

.links{
    text-align: center;
}