.header{
    padding: 1rem 0 3rem;
}

.title{
    color:black;
    font-size: 3rem;
    text-decoration: none;
}

.navlist{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navItem{
    color:gray;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.navItem:hover{
    color:black;
}

.activenavItem{
    color:indigo;
}