.body{
    text-align: center;

}

.header{
    padding: 1rem 0 3rem;
    text-align: center;
}

.title{
    color:black;
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
}

.navlist{
    display: flex;
    list-style-type: none;
    text-align: center;
    margin:0 auto;
    padding-left: 20%;
}

.navItem{
    color:gray;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    text-align: center;
}

.navItem:hover{
    color:black;
}

.activenavItem{
    color:indigo;
}